body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.main-title {
    font-size: 40px; /* Larger font size for the main title */
    color: #545b62; /* Dark grey color */
    margin-bottom: 20px; /* Space below the main title */
}

.logo {
    flex: 2;
    max-width: 70%;
    height: auto;
    align-self: center;
    margin-bottom: 10px; /* Add space below the logo */
}

.description {
    flex: 1;
    font-size: 30px;
    color: #a9a9a9; /* Dark grey color */
    margin-bottom: 40px; /* Space between the description and the button */
    line-height: 1.5;
}

.upload-btn {
    flex: 1;
    background-color: #545b62; /* Dark grey color */
    color: white;
    padding: 30px 50px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
    cursor: pointer;
    align-self: center;
}

.upload-btn:hover {
    background-color: #3a3a3a; /* Slightly darker grey for hover effect */
}
