body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

.upload-btn {
    background-color: #4a4a4a; /* Dark grey color */
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: #3a3a3a; /* Slightly darker grey for hover effect */
}
